  body {
        background-image: url('/images/ocean1.jpg');

     }



     .especeContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.especeContainer h1 {
  max-width: 100%;
  text-align: center;
  margin-top: 30px;
  margin-bottom: -30px;
  font-size: 2.5rem;
  color: #ffffff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
